## Enunciado

Uma empresa possui várias lojas que fornecem diferentes tipos de produtos. As informações das lojas são armazenadas na tabela "loja", conforme mostrado abaixo:

'''
CREATE TABLE loja (
    id INT,
    nome VARCHAR(150) NOT NULL,
    endereco VARCHAR(150),
    produtos VARCHAR(20)
);
'''

#### As colunas representam o seguinte:

id: identificador único da loja;
nome: nome da loja;
endereco: endereço da loja;
produtos: tipo de produto que a loja fornece.


#### Realize as seguintes operações:

1. Insira cinco registros na tabela "loja" com os seguintes dados:

    Loja 1: "Supermercado TudoBom", endereço "Rua Principal, 10", produtos "alimentos";
    Loja 2: "Farmácia Saúde", endereço "Rua Principal, 15", produtos "remédios";
    Loja 3: "Livros e Cia", endereço "Rua Principal, 20", produtos "livros";
    Loja 4: "Eletrônicos Top", endereço "Rua Principal, 25", produtos "eletrônicos";
    Loja 5: "Papelaria Legal", endereço "Rua Principal, 30", produtos "papelaria".

2. Atualize o endereço da loja "Farmácia Saúde" para "Rua Principal, 16" e altere o tipo de produto da loja "Supermercado TudoBom" para "alimentos e bebidas".

3. Selecione todas as lojas que possuem "Rua Principal" no endereço e ordene o resultado por nome da loja em ordem alfabética.

4. Selecione as lojas que têm "alimentos" ou "papelaria" como tipo de produto e que estão localizadas em endereços com números pares.

5. Remova todas as lojas que possuem "eletrônicos" como tipo de produto e que estão localizadas em endereços com números ímpares.

6. Encontre a quantidade de lojas para cada tipo de produto e exiba o resultado em ordem decrescente da quantidade de lojas.

## Resposta (TENTAR FAZER ANTES!!!)

In [ ]:
# 1
'''
INSERT INTO loja (id, nome, endereco, produtos) VALUES (1, 'Supermercado TudoBom', 'Rua Principal, 10', 'alimentos');
INSERT INTO loja (id, nome, endereco, produtos) VALUES (2, 'Farmácia Saúde', 'Rua Principal, 15', 'remédios');
INSERT INTO loja (id, nome, endereco, produtos) VALUES (3, 'Livros e Cia', 'Rua Principal, 20', 'livros');
INSERT INTO loja (id, nome, endereco, produtos) VALUES (4, 'Eletrônicos Top', 'Rua Principal, 25', 'eletrônicos');
INSERT INTO loja (id, nome, endereco, produtos) VALUES (5, 'Papelaria Legal', 'Rua Principal, 30', 'papelaria');
'''

In [1]:
# 2
'''
UPDATE loja SET endereco = 'Rua Principal, 16' WHERE id = 2;
UPDATE loja SET produtos = 'alimentos e bebidas' WHERE id = 1;
'''

"\nUPDATE loja SET endereco = 'Rua Principal, 16' WHERE id = 2;\nUPDATE loja SET produtos = 'alimentos e bebidas' WHERE id = 1;\n"

In [ ]:
# 3
'''
SELECT * FROM loja WHERE endereco LIKE 'Rua Principal%' ORDER BY nome;
'''

In [ ]:
# 4
'''
SELECT * FROM loja WHERE (produtos = 'alimentos' OR produtos = 'papelaria') AND CAST(SUBSTRING_INDEX(endereco, ',', -1) AS SIGNED) % 2 = 0;
'''

In [ ]:
# 5
'''
DELETE FROM loja WHERE produtos = 'eletrônicos' AND CAST(SUBSTRING_INDEX(endereco, ',', -1) AS SIGNED) % 2 = 1;
'''

In [ ]:
# 6
'''
SELECT produtos, COUNT(id) AS quantidade_lojas FROM loja GROUP BY produtos ORDER BY quantidade_lojas DESC;
'''